<h1>Welcome to the Question Board</h1>
<h3>Ask any question, and hopefully someone will help you out!</h3>

<div class="questions">
    {{#each model as |question|}}
    <p>{{question.title}}</p>
    <!-- {{question-tile question=question}} -->
    {{/each}}
</div>
