<h1>Welcome to the Question Forum</h1>
<h3>Hopefully someone can help you out!</h3>
<hr>

<div class="questions">
    {{#each model.questions as |question|}}
    {{question-tile question=question}}
    {{/each}}
</div>
