{{question-detail question=model destroyQuestion2="destroyQuestion3"}}
<br>
{{update-question question=model updateQuestion="updateQuestion"}}
<br>
{{new-answer saveAnswer = "saveAnswer" question=model}}
<br>
<div class="answers">
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer question=model deleteAnswer="deleteAnswer"}}
  {{/each}}
</div>
